.xml-left-text {
        padding: 0px;
}

.xml-left-text pre {
        padding: 6px;
        margin: 0px;
        border: none;
}

.xml-left-source {
        float: left;
        width: 49%;
        border: 1px solid #cccccc;
        margin-top: 0px;
        margin-bottom: 0px;
}

.xml-right {
        float: right;
        width: 49%;
        margin-left: 0px;
        margin-right: 0px;
        border: 1px solid #cccccc;
        padding: 0px;
}

.xml-right > * {
	margin-left: 3px;
}

.xml-right > pre {
        padding: 6px;
        margin: 0px;
        border: none;
}

.xml-clear {
        clear: both;
        padding-top: 5px;
}
